<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.plus.mapper.UserDao">
    <!--需要些多表联查在这里写XML,一般的单表操作CRUD,分页等自带的方法就完全满足-->
    <select id="selectUserList" resultType="com.example.plus.entity.User"
            parameterType="java.util.Map">
        select * from user
        <where>
            <if test="map.get('userName')!=null ">
                and (user_name LIKE CONCAT('%','${map.get('userName')}','%' )
                or user_phone LIKE CONCAT('%','${map.get('userName')}','%' ))

            </if>
            <if test="map.get('userSex')!=null ">
                and (user_sex ='${map.get('userSex')}' )
            </if>
        </where>


    </select>
</mapper>
