<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.plus.mapper.UserDao">
    <!--需要些多表联查在这里写XML,一般的单表操作CRUD,分页等自带的方法就完全满足-->
    <select id="selectUserList" resultType="com.example.plus.entity.User" parameterType="com.example.plus.page.PageCondition">
        select * from user
        <where>

            <if test="map.map.get('userName')!=null and map.map.get('userName')!='' ">
                and (user_name LIKE CONCAT('%','${map.map.get('userName')}','%' )
                or user_phone LIKE CONCAT('%','${map.map.get('userName')}','%' ))

            </if>
            <if test="map.map.get('userSex')!=null and map.map.get('userSex')!=''">
                and (user_sex ='${map.map.get('userSex')}' )
            </if>

            <if test="map.map.get('userSite')!=null and map.map.get('userSite')!=''">
                and (user_site ='${map.map.get('userSite')}' )
            </if>

            <if test="map.map.get('startTime')!=null and map.map.get('startTime')!='' and map.map.get('endTime')!=null and map.map.get('endTime')!=''">
                and (user_date_birth BETWEEN CONCAT('${map.map.get('startTime')}') AND CONCAT('${map.map.get('endTime')}' ))
            </if>
        </where>


    </select>
</mapper>
